.product-modify {
	text-align: center;
}
.product-modify a {
	font-size: 20px;
	margin: 0 5px;
}
.products-table #product-see {
	color: #8BC34A;
}
.products-table #product-edit {
	color: #FFCA28;
}
.products-table #product-delete {
	color: #F44336;
}
.product-image {
	max-width: 100px;
	border: 2px solid white;
}

.modal-title {
	font-size: 1.2em;
}

.add-product h1 {
	margin-bottom: 40px;
}
.add-product p {
	margin: 20px 0; 
}
.product input[type=text], input[type=number] {
	border: none;
	border-bottom: 2px solid #8BC34A;
	background: rgba(0, 0, 0, 0.05);
	outline: none;
}
.product textarea {
	border: none;
	outline: none;
	width: 380px;
	height: 200px;
	background: rgba(0, 0, 0, 0.1);
	border-bottom: 2px solid #8BC34A;
}
.product input[type=submit], input[type=button] {
	margin-bottom: 30px; 
}
#images {
	display: none;
}
.images_label {
	cursor: pointer;
	color: #999;
	font-size: 24px;
	height: 60px;
	width: 60px;
	line-height: 58px;
	text-align: center; 
	border: 3px dashed #777;
	border-radius: 5px;
	margin: 10px 0;
}
.add-product .row {
	margin: 0 !important;
}

#loadedImages {
	display: flex;
	vertical-align: top;
	align-items: flex-start; 
}
.imageSmall {
	position: relative;
	margin: 10px 0;	
	margin-right: 15px;
	width: 60px;
	height: 60px;
	align-self: flex-start;
}
.imageSmall .fa {
	color: black;
	font-size: 1.5em;
	position: absolute;
	right: -5px;
	top: -15px;
	cursor: pointer;
}

.hidden {
	visibility: hidden;
}

.search input[type=search] {
	width: 300px;
	margin: 10px 0;
	display: inline-flex;
}
.search input[type=submit] {
	text-align: center;
	padding: 10px 20px;
	margin: 10px 0;
}

.page-select {
	width: 100%;
	display: block;
	margin: 10px 0; 
}
.page-select a {
	margin: 0 5px; 
}

.product-info .imageSmall
{
	cursor: zoom-in;
}

.dark-wrapper {
	display: none;
	justify-content: center;
	width: 100%;
	height: 100vh;
	position: fixed;
	z-index: 200;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.7);
}
.dark-wrapper .image-full {
	align-self: center;
	vertical-align: middle;
	display: flex;
	max-width: 95%;
	max-height: 90vh;
	border: 10px solid white;
	border-radius: 10px;
}

.totals {
	margin: 20px 0;
}

.workers-table {
	font-size: 1.2em;
}

.worker-image {
	border-radius: 100%;
	border: 2px solid #8BC34A;
	height: 80px;
	width: 80px; 
}
.worker-modify {
	text-align: center; 
}
.worker-modify a {
	font-size: 24px;
	margin: 0 5px;
}
.worker-modify #worker-edit {
	color: #FFCA28;
}
.worker-modify #worker-delete {
	color: #F44336;
}
.worker-modify-btn:hover {
	color: black;
}
.worker-add {
	text-align: center;
}
.worker-add a {
	font-size: 20px;
	color: #8BC34A;
}
.worker-add a:hover {
	text-decoration: underline;
}
.worker-add a i {
	margin-right: 4px;
}

.modal input[type=submit], .modal input[type=button] {
	margin-bottom: 0px; 
}
.worker-photo-preview {
	background: url('../../Images/avatar-placeholder.gif');
	-webkit-background-size: cover;
	background-size: cover;
	height: 100px;
	margin: 0;
	width: 100px;
	border: 1px solid #8BC34A;
	border-radius: 100%;
}